body {
  background-color: #282c34;
}

.App {
  width: 80%;
  margin: 4rem auto 0;
}

.App h1 {
  color: white;
}

.App form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.App form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.App form div div {
  width: 100%;
  flex-direction: row;
}

.App form div label {
  color: white;
}

.App form div input {
  height: 2rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  flex: 1;
  outline: none;
}

.App button {
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0 2rem;
  border: 0;
}

.App button[type='submit'] {
  height: 2.5rem;
}
